h2 {
    padding-bottom: 60px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

section li {
    padding-bottom: 0.3rem;
}

div.columns-two {
    padding-bottom: 40px;
}

.columns-two .column-half img, .columns-two img.column-half {
    margin-bottom: 0;
}

/* MEDIA QUERIES */

/* Mobile devices */
@media screen and (max-width:768px) {
    .columns-two img {
        margin-bottom: 80px;
    }

    .columns-two p:first-child {
        margin-top: 50px;
    }
}