a.article-link {
    text-decoration: none;
}

article {
    padding: 60px 0;
}

article img {
    border-radius: 24px;
    border: 3px solid #4f5b62;
}

article {
    display: flex;
    flex-direction: column;
}

article img {
    margin-bottom: 30px;
    width: 100%;
}

article button {
    margin-top: 30px;
}

/* MEDIA QUERIES */

/* Mobile devices */
@media screen and (max-width:768px) {

}

/* Small tablets in portrait orientation */
@media screen and (min-width: 600px) and (orientation: portrait) {

}

/* Small tablets in landscape orientation */
@media screen and (min-width: 600px) and (orientation: landscape) {
}

/* Larger than a phone */
@media screen and (min-width: 769px) {
    section a article {
        flex-direction: row;
        align-items: center;
    }
    section a article h3 {
        margin-top: 0;
    }
    article img {
        width: 40%;
        margin-bottom: 0;
    }
    a article.row-reverse {
        flex-direction: row-reverse;
    }
}

/* Larger than 720P but smaller than 1080P */
@media screen and (min-width: 1281px) {

}

/* 1080P and above */
@media screen and (min-width: 1920px) {

}