/*
:root {
    --primary-color: #4b0082;
    --highlight-color: #ffd700;
}
*/

:root {
    --primary-color: #000000;
    --highlight-color: #ffd700;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

/* HEADER AND NAV */
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
}
.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo-link {
    text-decoration: none;
}
.brendan-name {
    padding-left: 1rem;
    font-family: Rochester, cursive;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
}
nav>p {
    display: none;
}
nav a, nav a:active, nav a:after, nav a:before, nav a:visited {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);;
}
nav>button, button {
    padding: 0.5rem;
    color: #000000;
    font-weight: bold;
}
nav>button {
    display: none;
}

/* HERO SECTION */
.hero {
    min-height: calc(90dvh);
    width: 100%;
    background: url('../images/nebula-background-wavy.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 120px;
}
.hero-text {
    width: 90%;
    margin: 0 5%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 24px;
    border: 15px solid #4f5b62;
    text-align: center;
}

/* SERVICES SECTION */
.services-section {
    padding-bottom: 120px;
    background-color: var(--primary-color);
}
.services-section h2, .services-section h3 {
    text-align: center;
}
.services-section img {
    display: block;
    margin: 0 auto;
    height: 25vh;
    width: auto;
}
.services-section h2 {
    margin-top: 0;
}
.services-section .column-third {
    border: 3px solid #4f5b62;
    border-radius: 24px;
    padding: 1rem;
}

/* ABOUT SECTION */
.about-section {
    /* background: url('../images/milky-way.jpg') no-repeat center center;
    background-size: cover; */
    background-color: var(--primary-color);
    padding: 120px 0;
}

/* CONTACT SECTION */
.contact-section {
    background-color: var(--primary-color);
    padding: 120px 0;
}

/* MULTIPLE SECTIONS */
.bordered-screen {
    background-color: rgba(0, 0, 0, 0.7);
    border: 15px solid #4f5b62;
    border-radius: 24px;
    padding: 1rem 2rem;
}
.services-section img, .about-section img {
    border-radius: 24px;
    border: 3px solid #000000;
}

/* FLEX LAYOUTS */
.column-single {
    margin: 0 10%;
    border-radius: 24px;
}
.columns-three {
    display: flex;
    justify-content: space-between;
}
.column-third {
    flex: 1;
    margin: 0 3rem;
}
.columns-two {
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}
.column-half {
    flex: 1;
}

/* FORM */
form {
    width: 100%;
}
label {
    display: block;
    width: 100%;
    margin: 1rem 0;
}
input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
}

/* GENERAL */
h1, h2, h3, p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h1 {
    margin-top: 0;
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.3rem;
}
.subheading, .location {
    font-size: 1.4rem;
    font-weight: bold;
}
.justify-text {
    text-align: justify;
}
.cta-button {
    background-color: var(--highlight-color);
    border-radius: 12px;
}

/* MEDIA QUERIES */

/* Mobile devices */
@media screen and (max-width:768px) {

}

/* Larger than a phone */
@media screen and (min-width: 769px) {
    * {
        font-size: 14px;
    }
    nav>p {
        display: block;
        margin: 0 1rem;
    }
    nav>button, button {
        padding: 1rem;
    }
    nav>button {
        margin-left: 2rem;
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
}

/* 720P laptops */
@media screen and (min-width: 1280px) and (min-height: 720px) {
    .brendan-name {
        font-size: 2rem;
    }
}

/* Larger than 720P but smaller than 1080P */
@media screen and (min-width: 1281px) and (max-width: 1919px) {
    * {
        font-size: 16px;
    }
}

/* 1080P and above */
@media screen and (min-width: 1920px) {
    * {
        font-size: 18px;
    }

    .brendan-name {
        font-size: 2rem;
    }

    h1, h2, h3, p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h1 {
        margin-top: 0;
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .subheading {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .location {
        font-size: 2rem;
        font-weight: bold;
    }

    /* HERO SECTION */
    .hero {
        min-height: 95vh;
        width: 100%;
        background: url('../images/hero-section-wavy.jpg') no-repeat center center;
        background-size: cover;
        padding-top: 15vh;
    }
    .hero-text {
        width: 40vw;
        margin-left: 10vw;
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 24px;
        border: 15px solid #4f5b62;
    }
}