* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #000000;
}

.logo {
    display: flex;
    justify-content: left;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
}

nav>p {
    margin: 0 1rem;
}

nav>button, button {
    padding: 1rem;
}

nav>button {
    margin-left: 2rem;
}

.logo {
    display: flex;
    align-items: center;
}

.hero {
    min-height: 65vh;
    border-bottom: 1px solid black;
}

h1, p, button {
    margin: 1rem;
}

.subheading {
    font-size: 1.2rem;
    font-weight: bold;
}